@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
/* =========================== NavBar ===========================*/
* {
  margin: 0;
}
header {
  background-color: #1a1d24;
}
.container1 {
  max-width: 98rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
.navbar1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.8rem;
}
.nav-list {
  position: relative;
  display: flex;
  list-style: none;
}
.nav-item1 {
  min-width: 10rem;
  text-align: center;
  padding-block: 1rem;
}
.nav-link1 {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.active {
  position: absolute;
  bottom: -1rem;
  height: 2px;
  width: 10rem;
  background-color: #fff;
  transition: transform 0.25s;
}
.nav-item1:nth-child(2):hover ~ .active {
  transform: translateX(10rem);
}
.nav-item1:nth-child(3):hover ~ .active {
  transform: translateX(20rem);
}
.nav-item1:nth-child(4):hover ~ .active {
  transform: translateX(30rem);
}

.button {
  display: inline-block;
  font-weight: 900;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255);
  padding: 1rem 2rem;
  color: #1a1d24;
  transition: color 0.25s;
  transition: background-color 0.25s;
}
.button:hover {
  background-color: #f88e8eb4;
  color: rgba(255, 255, 255, 0.876);
}

/*=========================== Title ===========================*/
.title {
  width: 35%;
  position: absolute;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  margin-left: 35%;
  margin-top: -40px;
}
.main-title {
  text-align: center;
  font-size: 2.4rem;
}
/*=========================== Both Body ===========================*/
.flex {
  display: flex;
  margin-top: 50px;
  margin-left: 30px;
}
/*=========================== Body left ===========================*/
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 20px;
}
.activities { 
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 100%;
}
h2 {
  padding-bottom: 60px;
}

.text-japan {
 padding-left: 30px;
}
.image1 {
  width: 100%;
  height: 400px;
  background-image: url(./img-video-logo/religious.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  border: 1px solid rgb(0, 0, 0);
}
.image2 {
  width: 100%;
  height: 400px;
  background-image: url(./img-video-logo/cherry-blossom.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  border: 1px solid rgb(0, 0, 0);
}

.image3 {
  width: 100%;
  height: 400px;
  background-image: url(./img-video-logo/temple.webp);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  border: 1px solid rgb(0, 0, 0);
}
/*=========================== Body right ===========================*/
.put-color-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 232, 205, 0.505);
  margin-left: 60px;
  width: 40%;
  height: auto;
  padding: 20px;
}
.put-email {
  display: flex;
  flex-direction: column;
  color: rgb(255, 248, 248);
  background-color: rgb(217, 80, 12);
  width: 70%;
  height: 500px;
  padding: 25px;
  margin-top: 50px;
}
.title-info{
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  font-size:2.5rem;
  margin-top: 20px;
  padding-bottom: 80px;
}
.space-between {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 50px;
}
.size-email {
  font-size: 1.5rem;
}
.email {
  width: 75%;
}
.button-sub{
  width: 50%;
  margin-top: 20px;
  padding: 15px;
  align-self:center;
  color: rgba(176, 91, 6, 0.848);
  font-weight: 900;
  font-size: 1rem;
  transition: color 0.25s;
  transition: background-color 0.25s;
}
.button-sub:hover {
  background-color: black;
  color: white;
}
/*=========================== Social media ===========================*/
.wrap-social{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.social-media-title {
  margin-top: 15px;
  color: black;
} 
.social-image {
  width: 200px;
  height: 200px;
}
.logo-flex {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
}
.logo{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
/* =========================== FORM USING BOOTSRAP =========================== */
.form-body {
  background-color: #152733;

}
.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}
/* =========================== FOOTER =========================== */
.footer {
  background-color: rgb(217, 80, 12);
  height: 150px;
}
.footer-div {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}
.footer-items {
  margin-top: 30px;
}
.footer-links, .copyright{
  text-decoration: none;
  color: #ffffff;
  font-weight: 200;
}
.copyright-div {
  margin-top: 30px;
}
.copyright {
  text-align: center;
}